$bodycolor: backgorund-color yellow;

$h1-color: color #f4f4f4;

$hero-color: background-color #640fc5;

$button1: backgound-color #0e6cff;
$button2: backgound-color #ff8700;
$button3: backgound-color #4caf50;

button {
    color: aquamarine;
    background-color: black;
}

#heroSection {
    background-color: blue;
    img {
        background-color: blue;
    }
    p {
        background-color: blue;
        color: cornflowerblue;
    }
} 