h1 {
    color: blue;
}


button {
    color: aquamarine;
    background-color: black;
}

#heroSection {
    background-color: blue;
    img {
        background-color: blue;
    }
    p {
        background-color: blue;
        color: cornflowerblue;
    }
} 